<nav class="nav has-shadow">
  <div class="container">
    <div class="nav-left">
      <a class="nav-item">
        <img src="http://bulma.io/images/bulma-logo.png" alt="Bulma logo">
      </a>
      <a class="nav-item is-tab is-hidden-mobile is-active">Home</a>
      <a class="nav-item is-tab is-hidden-mobile">Features</a>
      <a class="nav-item is-tab is-hidden-mobile">Pricing</a>
      <a class="nav-item is-tab is-hidden-mobile">About</a>
    </div>
    <span class="nav-toggle">
      <span></span>
      <span></span>
      <span></span>
    </span>
    <div class="nav-right nav-menu">
      <a class="nav-item is-tab is-hidden-tablet is-active">Home</a>
      <a class="nav-item is-tab is-hidden-tablet">Features</a>
      <a class="nav-item is-tab is-hidden-tablet">Pricing</a>
      <a class="nav-item is-tab is-hidden-tablet">About</a>
      <a class="nav-item is-tab">
        <figure class="image is-16x16" style="margin-right: 8px;">
          <img src="http://bulma.io/images/jgthms.png">
        </figure>
        Profile
      </a>
      <a class="nav-item is-tab">Log out</a>
    </div>
  </div>
</nav>

<div class="container">
  <section class="section">
    <div class="columns">
      <div *ngFor="let room of rooms | async" class="column">
        <div class="card">
          <header class="card-header">
            <p class="card-header-title">
               {{ room.gameName }} {{ getJoinedPlayers(room.joinedPlayers).length}} / {{room.maxPlayers}}
            </p>
            <p class="card-header-icon">
              <span class="icon">
                <i [ngClass]="room.gameName == 'Foosball' ? 'fa fa-futbol-o' : 'fa fa-gamepad'" aria-hidden="true"></i>
              </span>
            </p>
          </header>
          <div class="card-content">
            <div class="content">
              <h4>Joined players</h4>
              <p *ngFor="let player of getJoinedPlayers(room.joinedPlayers)">{{ player.email }}</p>
            </div>
          </div>
          <footer class="card-footer">
            <a class="card-footer-item is-primary" [ngClass]="showLoader ? 'is-loading' : ''" (click)="joinQueue(room)">Join</a>
            <a class="card-footer-item is-primary" [ngClass]="showLoader ? 'is-loading' : ''" (click)="leaveQueue(room)">Leave</a>
          </footer>
        </div>
      </div>
    </div>
  </section>

  <section class="section">

  </section>
</div>
