<div class="container">
  <section class="section">

    <div> {{ (af.auth | async)?.uid }} </div>

    <div class="columns">
      <div class="column is-half is-offset-one-quarter">
        <div class="card">
          <header class="card-header">
            <p class="card-header-title has-text-centered">Login</p>
          </header>
          <div class="card-content">
            <form>
              <div class="control has-icon">
                <input class="input" type="email" id="email" required
                       [(ngModel)]="credentials.email" name="email"
                       #email="ngModel" placeholder="Email">
                <span class="icon is-small">
                  <i class="fa fa-envelope"></i>
                </span>
              </div>
              <div class="control has-icon">
                <input class="input" type="password" placeholder="Password"
                       [(ngModel)]="credentials.password" name="password"
                       #password="ngModel" placeholder="Password">
                <span class="icon is-small">
                  <i class="fa fa-lock"></i>
                </span>
              </div>
              <div class="control">
                <button class="button is-primary" (click)="login(credentials.email, credentials.password)">Login</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
</section>


  <ul>
    <li *ngFor="let item of items | async">
      {{ item.name }}
    </li>
  </ul>



  <h1>{{ (item | async)?.name }}</h1>

  <button class="button is-primary" (click)="saveItem()">Save</button>
  <button class="button is-primary" (click)="logout()">Logout</button>

</div>
